*{
    box-sizing: border-box;
    color: white;
    text-align: center;
}


table{
    border: 1px solid white;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 50px white;
}

table td{
    padding: 5px;
    text-shadow: 0 0 10px rgb(9, 204, 106), 0 0 20px purple, 0 0 50px purple;
    font-size: 20px;
    text-decoration: overline;
}

img{
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 50px white;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

body{
    margin: auto;
    max-width: 1000px;
    width: 80%;
    height: 100vh;
    background: linear-gradient(60deg, purple, black, rgb(9, 204, 106));
    background-size: 250% 250%;
    animation: color 10s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0 50%;
    }
}